<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Chirp!</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="page">
        <h1>
            <img src="~/images/icon1.png" alt="Icon1" />Chirp!
        </h1>

        <div class="navigation">
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a href="/@User.Identity.Name">my timeline</a> |
                    <a href="/">public timeline</a> |
                    <a asp-area="Identity" asp-page="/Account/Logout">logout [@User.Identity.Name]</a>
                </div>
            }
            else
            {
                <div>
                    <a href="/">public timeline</a> |
                    <a asp-area="Identity" asp-page="/Account/Register">register</a> |
                    <a asp-area="Identity" asp-page="/Account/Login">login</a>
                </div>
            }
        </div>

        <div class="body">
            @RenderBody()
        </div>

        <div class="footer">
            <p>&copy; 2025 - Chirp!</p>
        </div>
    </div>
</body>
</html>
